/* Full Website */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Manrope", sans-serif;
}

/* Navbar  */
.navbar-brand {
  font-size: 25px;
}

.navbar {
  font-family: "Manrope", sans-serif;
}

/* Home */
.homebackground {
  background: url("/landscape1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150vh;
  background-position: center center;
  position: fixed;
  opacity: 80%;
}

/* Developer */
.devheading {
  top: 55px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f8f9fa;
}

.projects {
  text-align: center;
  background-color: #f8f9fa;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: x-small;
  background-color: #f8f9fa;
}
